* {
      box-sizing: border-box;
      margin: 0;
      padding: 0;
      font-family: "Poppins", sans serif;
      color: white;
}
/*! Root settings */
:root {
      --primary: #7e6959;
      --secondary: #cea383;
      --third: #f1e8e1;
      --transition: all .4s ease-in-out;
}

/*! Global settings */
.container {
      width: 90%;
      max-width: 1240px;
      margin: auto;
}
span {
      color: var(--secondary);
}
.h-100 {
      height: 100vh;
}
.al-c {
      display: flex;
      align-items: center;
}

html{
    scroll-behavior: smooth;
    background-color: var(--third);
}
a{
      text-decoration:none;
}

/* Nav Settings */
header {
      width: 100%;
      position: fixed;
      background-color: var(--primary);
      z-index: 100;
}
nav {
      display: flex;
      height: 10vh;
      align-items: center;
}
nav ul {
      display: flex;
      gap: 50px;
}
nav ul li {
      list-style: none;
}
nav ul li a {
      text-decoration: none;
      transition: var(--transition);
}
nav ul li:first-child a{
    color: var(--secondary) !important;
}
.nav {
      display: flex;
      justify-content: space-between;
      font-weight: 600;
      /* position: fixed; */
      background-color: var(--primary);
}
.nav-logo {
      display: flex;
      align-items: center;
      font-size: 1.5rem;
}
.nav-logo img {
      height: 7vh;
      margin-right: 10px;
}
.cart {
      margin-left: 80px;
      display: flex;
      align-items: center;
      gap: 20px;
}
.cart i {
      transition: var(--transition);
}
nav ul li a:hover {
      color: var(--secondary);
}
.cart i:hover {
      color: var(--secondary);
      cursor: pointer;
}

.burger {
      height: 28px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      display: none;
      margin: auto;
}

.burger span {
      display: block;
      width: 36px;
      height: 4px;
      border-radius: 100px;
      background-color: white;
      transition: var(--transition);
}
.burger input {
      position: absolute;
      width: 32px;
      height: 30px;
      opacity: 0;
      z-index: 10;
      cursor: pointer;
}
.burger input:hover ~ span {
      background-color: var(--secondary);
}
.burger input:checked ~ span:nth-child(2) {
      transform: rotate(45deg);
      transform-origin: 0px 3px;
}
.burger input:checked ~ span:nth-child(3) {
      transform: scaleX(0);
}
.burger input:checked ~ span:nth-child(4) {
      transform: rotate(-45deg);
      transform-origin: 2px 2px;
}

.img {
      width: 100%;
      height: 100vh;
      position: absolute;
      background-image: url(https://s3-alpha-sig.figma.com/img/aafb/4076/312a44fe25e273e71fb5f6df53764332?Expires=1698019200&Signature=OdtggVB~pqIja1iTA9KClODpAZpKGxn8-eRg2SfkQPOB28svb~e00MuW1U5YuWLLEF8Y6GOZu5oZw92bNRztNWGpd3bgXC~6OKLkMnAs7qkmA5eDzyJ2O9WsY6u62bTVaHQky~a81PNhoQXKzP6HTq3-FEufXP9R0r4d4Y~~rKPHx2BGg5HdzF3rgBzJHtC1uZfiDgCat9v34SPjFlnrL1LC4xKzFHVNr5Hwt-KOcuCocaPrqIUdeI~j0KUcuvvflOECzZ0ayc-~4WeKXCYQ5o-uR408fChauijom1lcVJ9jejYGOxc1IAZFgwDJaOO50MoC6cgA8yn96xnh5lOn7A__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4);
      background-size: cover;
      background-position: center;
      z-index: -1;
}
.img::after {
      content: "";
      position: absolute;
      display: block;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.3);
      z-index: -1;
}
.title {
      color: white;
}
.title h1 {
      font-size: 4.5em;
}
.title p{
      font-size: 1.5em;
}
.btn {
      display: inline-block;
      padding: 10px 20px;
      background-color: var(--secondary);
      color: white;
      margin-top: 20px;
      border-radius: 10px;
      transition: var(--transition);
      font-size: 16px;
      
}
.btn:hover {
      background-color: var(--primary);
      cursor: pointer;
}
.home {
      width: 100%;
      height: 100vh;
      overflow: hidden;
}
svg {
      position: absolute;
      bottom: -1px;
      z-index: -1;
}

.menu {
      background-color: var(--third);
}
.tit {
    margin: auto;
}
.tit h1 {
    text-align: center;
      color: var(--primary);
      font-size: 3rem;
      font-style: normal;
      font-weight: 600;
}
.menu-box{
    width: 100%;
    background-color: var(--primary);
    padding: 100px 50px 50px 50px;
    border-radius: 20px;
    margin-top: 45px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px,1fr));
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    box-shadow: 9px 6px 15px 0px rgba(0, 0, 0, 0.25);

}
.menu-item{
    background-color: var(--third);
    border-radius: 20px;
    width: 40vh;
    text-align: center;
    justify-content: center;
    padding: 0px 22px 22px 22px;
    margin: auto;
    margin: 20px auto;
    min-width: 294px;
    min-height: 440px;
    flex-wrap: wrap;
}
.menu-item img{
    margin: auto;
    width: 100%;
    min-width: 205px;
    min-height: 255px;
}
.des{
    text-align: start;
}
.des h3,.des p{
    color: #404040;
    align-self: center;
}

.price{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    font-size: 24px;
}
.buy{
    padding: 4px 18px;
    background-color: var(--secondary);
    border-radius: 10px;
    font-weight: 600;
    align-items: center;
    display: flex;
    cursor: pointer;
    transition: var(--transition);
}
.buy:hover{
    background-color: var(--primary);
    transform: scale(0.97);
}
.buy:active{
    transform: scale(0.90);
}


.def-grid{
    display: grid;
    grid-template-columns: 1.3fr 1fr;
    margin: 150px 0;

}
.def-grid img{
    width: 98%;
    margin: 10px;
    border-radius: 30px;
    box-shadow: 9px 6px 15px 0px rgba(0, 0, 0, 0.25);
}
.def-text{
    padding: 30px;
    color: var(--primary);
}

.def-text h1,.def-text p{
    color: var(--primary);
}
.def-text h1{
    font-size: 2.4em;
    margin-bottom: 30px;
}

footer{
      background-color: var(--primary);
}

.footer-grid{
      display: grid;
      grid-template-columns: 1.3fr 1fr 1fr;
      gap: 20px;
      padding: 20px;
}
.footer-item{
      display: flex;
      flex-direction: column;
      /* width: 90%; */
}
.sosmed{
      display: flex;
}

.sos{
      /* width: 50px;
      height: 50px; */
      background-color: var(--third);
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 100%;
      padding: 10px;
      margin: 10px 10px 10px 0;
      aspect-ratio: 1/1;
}
.sos a i{
      color: var(--primary);
      font-size: 20px;
      padding: 10px;
}
.footer-grid .footer-item:nth-child(3) a{
      transition: var(--transition);
}

.footer-grid .footer-item:nth-child(3) a:hover{
      color: var(--secondary);
}



@media screen and (max-width: 768px) {
      .home{
            font-size:60%;
      }
      .burger {
            display: flex;
      }

      nav ul {
            width: 50%;
            height: 100vh;
            flex-direction: column;
            right: 0;
            position: absolute;
            background-color: var(--primary);
            bottom: -100vh;
            text-align: right;
            gap: 30px;
            transform: translateX(100%);
            transition: var(--transition);
      }
      nav ul li {
            margin: 20px 30px 0 0;
            transition: var(--transition);
      }
      nav ul li:hover {
            transform: translateX(-5%);
      }
      .active {
            transform: translateX(0);
      }
      .def-text{
            font-size: 83%;
      }
}
@media screen and (max-width:1110px){
      .menu-box{
            /* grid-template-columns: 1fr; */
            grid-template-rows: repeat(3,1fr);
      }
}

@media screen and (max-width:1190px){
      .def-grid{
            grid-template-columns: 1fr;
      }
      .def-grid img{
            transform: scale(.85);
      }
      
}
@media screen and (max-width:1190px){
      .footer-grid{
            grid-template-columns: 1fr;
            gap: 20px;
      }
}